@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hidden{
    display: none;
}

body{
    width: 100vw;
    height: 100vh;
}

.app{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.player{
    width: 80%;
}

.button{
    font-size: 1.25em;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    margin: 0 5px 0 5px;
}

.seek-bar{
    width: 100%;
    cursor: pointer;
}

.background-seek-bar{
    background-color: rgba(0, 0, 0, 0.1);
    height: 5px;
}

.current-seek-bar{
    margin-top: -5px;
    width: 0%;
    height: 5px;
    background-color: blue;
    transition: .2s;
}

.current-seek-bar::before{
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: relative;
    left: 100%;
    top: -75%;
    display: block;
    background-color: blue;
}

.show-time{
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: -2px;
    color: rgba(255, 255, 255, 1);
    padding: 3px;
    border-radius: 2px;
}

.audio-controls{
    border-radius: 0 0 5px 5px;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgba(0, 0, 0, 0.2);
}

.middle-information{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-cover{
    height:100%;
    width: auto;
    padding: 5px;
}

.audio-information{
    display: block;
    font-family: 'Quicksand', sans-serif;
}

.time{
    display: flex;
    font-size: 0.7rem;
    font-weight:300;
}

.audio-title{
    font-size: 1.1rem;
    font-weight: 700;
}

.audio-singer{
    font-weight: 300;
}